<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">
                <!-- forma.get('nombre').invalid && forma.get('nombre').touched -->
                <input [class.is-invalid]="nombreNoValido" formControlName="nombre" class="form-control" type="text" placeholder="Nombre">
                <small *ngIf="nombreNoValido" class="text-danger">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input [class.is-invalid]="apellidoNoValido" formControlName="apellido" class="form-control" type="text" placeholder="Apellido">
                <small *ngIf="apellidoNoValido" class="text-danger">Ingrese 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input [class.is-invalid]="correoNoValido" formControlName="correo" class="form-control" type="email" placeholder="Correo electrónico">
            <small *ngIf="correoNoValido" class="text-danger">Ingrese el correo</small>
        </div>
    </div>

    <div class="form-group row" formGroupName="direccion">
        <label class="col-2 col-form-label">Direccion</label>
        <div class="form-row col">
            <div class="col">
                <input formControlName="distrito" type="text" class="form-control" placeholder="Distrito">
            </div>
            <div class="col">
                <input formControlName="ciudad" type="text" class="form-control" placeholder="Ciudad">
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>

<hr>

<pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
</pre>

<pre>
    {{ forma.value | json }}
</pre>